In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from delimeter_checker import DelimiterChecker
from null_column_finder import ColumnNaNChecker
from data_preprocessing import DataProc
import pandas as pd

In [94]:
f = 'TPL_PTP_07_Vendor_invoices'
filename = f'C:/Users/RM342AY/OneDrive - EY/Desktop/VOITH DATA/{f}.csv'
delimiter = ';'
encoding = '1252'
mapping_df = pd.read_excel(r'C:/Users/RM342AY/OneDrive - EY/Desktop/voith_column_mappings.xlsx')

In [95]:
mapping_df.head()

                           TPL NAME                     FIELD
0  TPL_OTC_01_Customer_credit_limit         Last payment date
1  TPL_OTC_01_Customer_credit_limit                Entry date
2  TPL_OTC_01_Customer_credit_limit        Last credit review
3        TPL_OTC_01_Customer_master                Entry date
4        TPL_OTC_01_Customer_master  Last AR transaction date

In [96]:
df1 = mapping_df[mapping_df['TPL NAME'] == f]
l = df1['FIELD'].tolist()
l

['Document date',
 'Posting date',
 'Entry date',
 'Invoice receipt date',
 'Baseline date',
 'Net due date',
 'Clearing date']

In [97]:
del_check = DelimiterChecker(filename, delimiter, encoding)
del_check.check_and_correct_delimiters()

First row has 85 delimiters

'There are no wrong rows.'

In [98]:
df = pd.read_csv(filepath_or_buffer=filename, encoding=encoding, delimiter=delimiter)
df[l]

C:\Users\RM342AY\AppData\Local\Temp\ipykernel_51872\1717117417.py:1: DtypeWarning: Columns (20,21,23,24,42,43,62,64,74) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath_or_buffer=filename, encoding=encoding, delimiter=delimiter)

,Document date,Posting date,Entry date,Invoice receipt date,Baseline date,Net due date,Clearing date
0,2021-09-22 00:00:00,2021-10-25 00:00:00,1900-01-01 00:00:00,NaN,2021-10-07 00:00:00,2021-10-07 00:00:00,NaN
1,2021-09-22 00:00:00,2021-10-25 00:00:00,1900-01-01 00:00:00,NaN,2021-10-07 00:00:00,2021-10-07 00:00:00,NaN
2,2021-09-22 00:00:00,2021-10-25 00:00:00,1900-01-01 00:00:00,NaN,2021-10-07 00:00:00,2021-10-07 00:00:00,NaN
3,2021-09-22 00:00:00,2021-10-25 00:00:00,1900-01-01 00:00:00,NaN,2021-10-07 00:00:00,2021-10-07 00:00:00,NaN
4,2021-09-22 00:00:00,2021-10-25 00:00:00,1900-01-01 00:00:00,NaN,2021-10-07 00:00:00,2021-10-07 00:00:00,NaN
...,...,...,...,...,...,...,...
232417,2023-09-20 00:00:00,2023-09-30 00:00:00,1900-01-01 00:00:00,NaN,2023-09-20 00:00:00,2023-09-20 00:00:00,NaN
232418,2023-09-20 00:00:00,2023-09-30 00:00:00,1900-01-01 00:00:00,NaN,2023-09-20 00:00:00,2023-09-20 00:00:00,NaN
232419,2023-09-26 00:00:00,2023-09-30 00:00:00,1900-01-01 00:00:00,NaN,2023-09-26 00:00:00,2023-09-26 00:00:00,NaN
232420,2023-09-26 00:00:00,2023-09-30 00:00:00,1900-01-01 00:00:00,NaN,2023-09-26 00:00:00,2023-09-26 00:00:00,NaN
232421,2023-09-26 00:00:00,2023-09-30 00:00:00,1900-01-01 00:00:00,NaN,2023-09-26 00:00:00,2023-09-26 00:00:00,NaN

In [99]:
df.head()

,ï»¿System ID,Primary key,Legal entity,Fiscal year,Invoice number,Invoice line item,Accounting document number,Accounting document fiscal year,Line item no.,Credit\debit indicator,...,Contract line number,Quantity invoiced in base UoM,Base UoM,Base UoM description,Price unit in base UoM,Other attribute 1,Other attribute 2,Other attribute 3,Other attribute 4,Other attribute 5
0,GEN001,+POI--2122-00035^10000^0,VTIP,No,+POI--2122-00035,10000,NaN,NaN,10000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GEN001,+POI--2122-00035^20000^0,VTIP,No,+POI--2122-00035,20000,NaN,NaN,20000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,GEN001,+POI--2122-00035^30000^0,VTIP,No,+POI--2122-00035,30000,NaN,NaN,30000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,GEN001,+POI--2122-00035^40000^0,VTIP,No,+POI--2122-00035,40000,NaN,NaN,40000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,GEN001,+POI--2122-00035^50000^0,VTIP,No,+POI--2122-00035,50000,NaN,NaN,50000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
data_proc = DataProc(filename, delimiter, encoding)
df_preprocessed = data_proc.change_format_to_ddmmyy(l)

c:\Users\RM342AY\PycharmProjects\delimeter_count\data_preprocessing.py:11: DtypeWarning: Columns (20,21,23,24,42,43,62,64,74) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(self.filename, delimiter=self.delimiter, encoding=self.encoding)

In [91]:
df_preprocessed[l]

,Document date,Posting date,Entry date,Invoice receipt date,Baseline date,Net due date,Clearing date
0,22.09.2021 00:00:00,25.10.2021 00:00:00,01.01.1900 00:00:00,NaN,07.10.2021 00:00:00,07.10.2021 00:00:00,NaN
1,22.09.2021 00:00:00,25.10.2021 00:00:00,01.01.1900 00:00:00,NaN,07.10.2021 00:00:00,07.10.2021 00:00:00,NaN
2,22.09.2021 00:00:00,25.10.2021 00:00:00,01.01.1900 00:00:00,NaN,07.10.2021 00:00:00,07.10.2021 00:00:00,NaN
3,22.09.2021 00:00:00,25.10.2021 00:00:00,01.01.1900 00:00:00,NaN,07.10.2021 00:00:00,07.10.2021 00:00:00,NaN
4,22.09.2021 00:00:00,25.10.2021 00:00:00,01.01.1900 00:00:00,NaN,07.10.2021 00:00:00,07.10.2021 00:00:00,NaN
...,...,...,...,...,...,...,...
232417,20.09.2023 00:00:00,30.09.2023 00:00:00,01.01.1900 00:00:00,NaN,20.09.2023 00:00:00,20.09.2023 00:00:00,NaN
232418,20.09.2023 00:00:00,30.09.2023 00:00:00,01.01.1900 00:00:00,NaN,20.09.2023 00:00:00,20.09.2023 00:00:00,NaN
232419,26.09.2023 00:00:00,30.09.2023 00:00:00,01.01.1900 00:00:00,NaN,26.09.2023 00:00:00,26.09.2023 00:00:00,NaN
232420,26.09.2023 00:00:00,30.09.2023 00:00:00,01.01.1900 00:00:00,NaN,26.09.2023 00:00:00,26.09.2023 00:00:00,NaN
232421,26.09.2023 00:00:00,30.09.2023 00:00:00,01.01.1900 00:00:00,NaN,26.09.2023 00:00:00,26.09.2023 00:00:00,NaN

In [93]:
path_to_save = f'C:/Users/RM342AY/OneDrive - EY/Desktop/VOITH DATA/new_data/{f}.csv'
df_preprocessed.to_csv(path_or_buf=path_to_save, index=False, encoding=encoding, sep=delimiter)